@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
:root {
    --my-foreground: #222222;
    --my-background: #a2c4c8;
    --my-test: red;
}

html[data-theme="light"] {
    --my-background: #a2c4c8;
    --my-foreground: #222222;
}

html[data-theme="dark"] {
    --my-background: #222222;
    --my-foreground: #a2c4c8;
}

body {
    background-color: var(--my-background);
    color: var(--my-foreground);
}
