@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --background: #c2bebc;
    --window-background: #ffffff;
    --text-body: #181818;
    --text-strong: #000000;
    --side-elements: #858786;
    --accent: #ab0d69;
    --btn-bg: #c87da9;
    --btn-txt: #000000;
    --btn-hov: #c2e03a;
}

html[data-theme="light"] {
    --background: #c2bebc;
    --window-background: #ffffff;
    --text-body: #181818;
    --text-strong: #000000;
    --side-elements: #858786;
    --accent: #ab0d69;
    --btn-bg: #c87da9;
    --btn-txt: #000000;
    --btn-hov: #c2e03a;
}

html[data-theme="dark"] {
    --background: #242323;
    --window-background: #0c0c0c;
    --text-body: #cecaca;
    --text-strong: #ffffff;
    --side-elements: #333333;
    --accent: #ab0d69;
    --btn-bg: #c87da9;
    --btn-txt: #000000;
    --btn-hov: #c2e03a;
}

body {
    background-color: var(--background);
    color: var(--elements);
}


